{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block headerMiddel %}
        <div class="inner clear">
            <div class="header_logo fl"></div>
            <div class="header_middle_right font14 clear fr">
                <div class="header_seach fl">
                    <form action="#" id="seach" class="header_seach_box clear color65">
                        <input type="text" class="search_txt fl" value="请输入要搜索的内容。。。"/>
                        <input type="button" class="search_btn colorff fl" value="搜索"/>
                    </form>
                </div>
                <div class="header_shop gradient text-center fr">
                    <span class="glyphicon glyphicon-shopping-cart font16 colore21"></span>
                    <a href="/shopcar" class="shoptxt shopcarbtn">购物车</a>
                    <span class="glyphicon glyphicon-menu-right font12"></span>
                </div>
            </div>
        </div>
{% endblock %}

{% block nav %}
    <nav>
        <div class="inner clear">
            <ul class="nav_menu fl">
                <li class="colorff text-center"><h3 class="font14">全部商品分类<span class="glyphicon glyphicon-chevron-down"></span></h3></li>
                <li class="active"><a href="/">首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block main %}
<section>
    <div class="userPosition inner">
        <strong><a href="/">首页</a></strong>
        <span>&nbsp;&gt;&nbsp;</span>
        <a href="#">平板电脑</a>
        <span>&nbsp;&gt;&nbsp;</span>
        <em>MD531CH/A</em>
    </div>
    <div class="description_info inner">
        <div class="description clear">
            <div class="description_left fl">
                <div class="description_imgs">
                    <div class="big">
                        <img src="{% static 'images/products/des_big.jpg' %}" alt="">
                    </div>
                    <ul class="des_smimg clear">
                        <li><a href="#"><img src="{% static 'images/products/des_sm.jpg' %}" class="active" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'images/products/des_sm2.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'images/products/des_sm.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'images/products/des_sm2.jpg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'images/products/des_sm.jpg' %}" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="description_right fl">
                <div class="des_content">
                    <h3 class="des_content_tit">全网底价 Apple 苹果 iPad mini 16G wifi版 平板电脑 前白后银 MD531CH/A 银白两色生
                        产批次不同混合发货</h3>
                    <div class="dl clear">
                        <div class="dt">本网价</div>
                        <div class="dd clear"><span class="des_money"><em>￥</em>999.00</span></div>
                    </div>
                    <div class="dl clear">
                        <div class="dt">优惠</div>
                        <div class="dd clear"><span class="hg"><i class="hg_icon">满换购</i><em>购ipad加价优惠够配件或USB充电插座</em></span></div>
                    </div>
                    <div class="des_position">
                        <div class="dl clear">
                            <div class="dt">送到</div>
                            <div class="dd clear">
                                <div class="select fl">
                                    <h3 class="font12">海淀区五环内</h3><span></span>
                                    <ul class="show_select">
                                        <li>上帝</li>
                                        <li>五道口</li>
                                        <li>上帝</li>
                                    </ul>
                                </div>
                                <span class="theGoods">有货，可当日出货</span>
                            </div>
                        </div>
                        <div class="dl clear">
                            <div class="dt colorSelect">选择颜色</div>
                            <div class="dd clear">
                                <div class="des_item des_item_active">白色</div>
                                <div class="des_item">玫瑰金</div>
                                <div class="des_item">银色</div>
                            </div>
                        </div>
                        <div class="dl clear">
                            <div class="dt des_select_more">选择版本</div>
                            <div class="dd clear">
                                <div class="des_item des_item_sm des_item_active">WIFI 16GB</div>
                                <div class="des_item des_item_sm">WIFI 16GB + 3G</div>
                                <div class="des_item des_item_sm">WIFI + 3G</div>
                                <div class="des_item des_item_sm">WIFI 16GB</div>
                                <div class="des_item des_item_sm">WIFI 16GB + 3G</div>
                                <div class="des_item des_item_sm">WIFI + 3G</div>
                                <div class="des_item des_item_sm">WIFI 16GB</div>
                                <div class="des_item des_item_sm">WIFI 16GB + 3G</div>
                                <div class="des_item des_item_sm">WIFI + 3G</div>
                            </div>
                        </div>
                        <div class="dl">
                            <div class="dt des_num">数量</div>
                            <div class="dd clear">
                                <div class='des_number'>
                                    <div class='reduction'>-</div>
                                    <div class="des_input">
                                        <input type="text" value="1">
                                    </div>
                                    <div class="plus">+</div>
                                </div>
                                <span class="xg">限购<em>9</em>件</span>
                            </div>
                        </div>
                    </div>
                    <div class="des_select">
                        已选择 <span>"<i>白色</i>|<em>WIFI 16G</em>"</span>
                    </div>
                    <div class="shop_buy">
                        <a href="/shopcar" productid="{{ shoppro_list.id }}" class="buy_btn shopcarbtn"></a>
                    </div>
                    <div class="notes">注意：此商品可提供普通发票，不提供增值税发票。</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('a.shopcarbtn[productid]').bind("click",function(){
        alert($(this).attr("productid"));
        });
    </script>

    <div class="hr15"></div>
    <div class="des_info inner clear">
        <div class="des_info_left fl">
            <div class="recommend">
                <h3 class="tit font14">同价位</h3>
                {% for  pro in shoppro_list %}
                <div class="item">
                    <div class="item_cont">
                        <div class="img_item">
                            <a href="#"><img src="/uploads/{{ pro.image }}" width="100%" alt=""></a>
                        </div>
                        <p><a href="#">{{ pro.name }}</a></p>
                        <p class="money colore21">￥{{ pro.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="des_info_right fr">
            <div class="des_infoContent">
                <ul class="des_tit" id="des_btn">
                    <li class="active"><span>产品介绍</span></li>
                    <li><span>产品评价(12312)</span></li>
                </ul>
                <div class="des_infotit_con">
                    <div class="ad">
                        <a href="#"><img src="{% static 'images/banner/banner_01.jpg' %}" width="580" height="151"></a>
                    </div>
                    <div class="info_text">
                        <div class="info_tit">
                            <h3>强烈推荐</h3><h4>货比三家，还选</h4>
                        </div>
                        <p>现在就是买mini的好时候！换代清仓直降，但苹果品质不变！A5双核，内置Lightning闪电接口，正反可插，方便人性。小身材，炫丽的7.9英寸显示屏，7.2mm的厚度，薄如铅笔。女生包包随身携带更时尚！facetime视频通话，与密友24小时畅聊不断线。微信倾力打造，你的智能助理。苹果的牌子就不用我说了，1111补仓，存货不多哦！</p>
                        <div class="hr45"></div>
                        <div class="info_tit">
                            <h3>强烈推荐</h3><h4>货比三家，还选</h4>
                        </div>
                        <p>现在就是买mini的好时候！换代清仓直降，但苹果品质不变！A5双核，内置Lightning闪电接口，正反可插，方便人性。小身材，炫丽的7.9英寸显示屏，7.2mm的厚度，薄如铅笔。女生包包随身携带更时尚！facetime视频通话，与密友24小时畅聊不断线。微信倾力打造，你的智能助理。苹果的牌子就不用我说了，1111补仓，存货不多哦！</p>
                        <div class="hr45"></div>
                        <img src="{% static 'images/products/pad.jpg' %}" class="center">
                        <div class="hr45"></div>
                    </div>
                </div>
                <div class="des_infotit_con" style="display: none;">
                    <h3 class="shopDes_tit">商品评价</h3>
                    <div class="score_box clear">
                        <div class="score">
                            <span>4.7</span><em>分</em>
                        </div>
                        <div class="score_speed">
                            <ul class="score_speed_text">
                                <li class="speed_01">非常不满意</li>
                                <li class="speed_02">不满意</li>
                                <li class="speed_03">一般</li>
                                <li class="speed_04">满意</li>
                                <li>非常满意</li>
                            </ul>
                            <div class="score_num">
                                4.7<i></i>
                            </div>
                            <p>共18939位慕课网友参与评分</p>
                        </div>
                    </div>
                    <div class="review_tab">
                        <ul class="review fl">
                            <li><a href="#" class="active">全部</a></li>
                            <li><a href="#">满意（3121）</a></li>
                            <li><a href="#">一般（321）</a></li>
                            <li><a href="#">不满意（1121）</a></li>
                        </ul>
                        <div class="review_sort fr">
                            <a href="#" class="review_time">时间排序</a><a href="#" class="review_reco">推荐排序</a>
                        </div>
                    </div>
                    <div class="review_listBox">
                        <div class="review_list clear">
                            <div class="review_userHead fl">
                                <div class="review_user">
                                    <img src="{% static 'images/icon/userhead.jpg' %}" alt="">
                                    <p>61***42</p>
                                    <p>金色会员</p>
                                </div>
                            </div>
                            <div class="review_cont">
                                <div class="review_t clear">
                                    <div class="starsBox fl"><span class="stars"></span><span class="stars"></span><span class="stars"></span><span class="stars"></span><span class="stars"></span></div>
                                    <span class="stars_text fl">5分 满意</span>
                                </div>
                                <p>赖慕课挺不错的信赖慕课挺不错的，信赖慕课</p>
                                <p><a href="#" class="ding">顶(0)</a><a href="#" class="cai">踩(0)</a></p>
                            </div>
                        </div>
                        <div class="review_list clear">
                            <div class="review_userHead fl">
                                <div class="review_user">
                                    <img src="{% static 'images/icon/userhead.jpg' %}" alt="">
                                    <p>61***42</p>
                                    <p>金色会员</p>
                                </div>
                            </div>
                            <div class="review_cont">
                                <div class="review_t clear">
                                    <div class="starsBox fl"><span class="stars"></span><span class="stars"></span><span class="stars"></span><span class="stars"></span><span class="stars"></span></div>
                                    <span class="stars_text fl">5分 满意</span>
                                </div>
                                <p>赖慕课挺不错的信赖慕课挺不错的，信赖慕课</p>
                                <p><a href="#" class="ding">顶(0)</a><a href="#" class="cai">踩(0)</a></p>
                            </div>
                        </div>
                        <div class="hr25"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr25"></div>
</section>
<script>
//    选择的颜色和型号
    $('.colorSelect').next().find('.des_item').click(function(){
        $('.colorSelect').next().find('.des_item').removeClass('des_item_active');
        $(this).addClass('des_item_active');
        $('.des_select').find('i').text($(this).text());
    });
    $('.des_select_more').next().find('.des_item').click(function(){
        $('.des_select_more').next().find('.des_item').removeClass('des_item_active');
        $(this).addClass('des_item_active');
        $('.des_select').find('em').text($(this).text());
    });

    //商品总价，总计的价格
    var all_total = 0;
    for( var i=1; i<$('.pro_subtotal').length; i++){
        var total = parseFloat($('.pro_subtotal').eq(i).text().replace(/[^0-9]+.[0-9]{2}/ig,''));
        all_total = all_total + total;
    }
    $('.shopcar_cont_money').find('span').text(all_total);

    //商品数量加减
    $('.des_number .plus').bind('click', function(){
        var inputTxt = $(this).prev().children('input');
        var num = parseInt(inputTxt.val());
        inputTxt.val(num + 1);
//        商品的现在的单价
        var toprice = parseFloat($(this).parents('.pro_num').prev().prev().text().replace(/[^0-9]+.[0-9]{2}/ig,''));
        subNum = parseInt(num + 1);
        if(subNum< 0){
            inputTxt.val(0);
            $(this).prev().prev().addClass('des_number_btn');
            subNum = parseInt(inputTxt.val());
            var subPrice = parseInt($(this).parents('.pro_num').prev().prev().text());
            var subTotal = parseInt(subPrice*subNum);
            $(this).parents('.pro_num').next().text(subTotal);
        }else{
            $(this).prev().prev().removeClass('des_number_btn');
            var subPrice = parseInt($(this).parents('.pro_num').prev().prev().text());
            var subTotal = parseInt(subPrice*subNum);
            $(this).parents('.pro_num').next().text(subTotal);

            all_total = all_total + toprice;
            $('.shopcar_cont_money').find('span').text(all_total);

        }
    });
    $('.des_number .reduction').click(function(){
        var inputTxt = $(this).next().children('input');
        var num = parseInt(inputTxt.val());
        inputTxt.val(num - 1);
        var toprice = parseFloat($(this).parents('.pro_num').prev().prev().text().replace(/[^0-9]+.[0-9]{2}/ig,''));
        subNum = parseInt(num - 1);
        if(subNum< 0){
            inputTxt.val(0);
            $(this).addClass('des_number_btn');
            subNum = parseInt(inputTxt.val());
            var subPrice = parseInt($(this).parents('.pro_num').prev().prev().text());
            var subTotal = parseInt(subPrice*subNum);
            $(this).parents('.pro_num').next().text(subTotal);
        }else{
            $(this).removeClass('des_number_btn');
            var subPrice = parseInt($(this).parents('.pro_num').prev().prev().text());
            var subTotal = parseInt(subPrice*subNum);
            $(this).parents('.pro_num').next().text(subTotal);

            all_total = all_total - toprice;
            $('.shopcar_cont_money').find('span').text(all_total);
        }
    });


    //产品介绍和产品评价切换
    var btn = $('#des_btn li');
    var content = $('.des_infotit_con');
    btn.click(function(){
        btn.attr('class','');
        content.css('display','none');
        $(this).attr('class','active');
        content.eq($(this).index()).css('display','block');
    })

</script>

{% endblock %}}